{
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "4"
            },
            "modules": false,
            "useBuiltIns": "usage",
            "debug": true
          }
        ]
      ],
      "plugins": ["@babel/plugin-transform-runtime"]
    },
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "usage"
          }
        ]
      ]
    }
  },
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
