{
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "node": "4"
            }
          }
        ]
      ],
      "plugins": ["external-helpers"]
    },
    "development": {
      "presets": ["env"]
    }
  },
  "plugins": ["transform-object-rest-spread"]
}
