{
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "4"
            },
            "modules": false,
            "useBuiltIns": "usage",
            "debug": true
          }
        ]
      ]
    },
    "development": {
      "presets": ["@babel/preset-env"]
    }
  },
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
